header img {
    height: 80px;
}

nav {
    width: 100%;
}

.search {
    width: 50%;
}

header {
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 1px 0 black;
}

header * {
    display: inline;
}

header ul {
    display: flex;
    align-items: center;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}
